@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-black: #121212;
  /* Accent  */
  --color-accent-25: #f5fbff;
  --color-accent-50: #ebf7ff;
  --color-accent-100: #d2edff;
  --color-accent-200: #afdfff;
  --color-accent-300: #78ceff;
  --color-accent-400: #38b1ff;
  --color-accent-500: #0b8aff;
  --color-accent-600: #0065ff;
  --color-accent-700: #004cff;
  --color-accent-800: #003dd4;
  --color-accent-900: #02379e;
  --color-accent-950: #072364;
  /* Base */
  --color-base-25: #fafafa;
  --color-base-50: #f9fafb;
  --color-base-100: #f3f4f6;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5db;
  --color-base-400: #9ca3af;
  --color-base-500: #6b7280;
  --color-base-600: #4b5563;
  --color-base-700: #374151;
  --color-base-800: #1f2937;
  --color-base-900: #111827;
  --color-base-950: #030712;
  /* Dark Mode Base */
  --color-base-25: #0a0a0b;
  --color-base-50: #0d0d0e;
  --color-base-100: #111112;
  --color-base-200: #171718;
  --color-base-300: #262628;
  --color-base-400: #404043;
  --color-base-500: #525256;
  --color-base-600: #636368;
  --color-base-700: #7b7b81;
  --color-base-800: #a1a1a6;
  --color-base-900: #d4d4d5;
  --color-base-950: #eeeff0;
  /* Dark Mode Accent */
  --color-accent-25: #0e1424;
  --color-accent-50: #11192e;
  --color-accent-100: #162447;
  --color-accent-200: #1d3262;
  --color-accent-300: #244382;
  --color-accent-400: #2c56a6;
  --color-accent-500: #386bd4;
  --color-accent-600: #4882f2;
  --color-accent-700: #5e99ff;
  --color-accent-800: #77adff;
  --color-accent-900: #97c2ff;
  --color-accent-950: #d2e6ff;
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {

  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}


/* Adds pointer cursor to buttons */
button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}